@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  /* background-color: #4158d0;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  overflow-x: hidden;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}
